
/* COMMON */

body {
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
}

.ms_dark_section {
    color: white;
    padding: 3rem 0;
}

.ms_white_section {
    padding: 3rem 0;
}

.ms_large_container {
    width: 95%;
    max-width: 1800px;
    margin: 0 auto;
}

.btn {
    border-radius: 20px;
}

.btn:hover {
    color: #fff;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.2rem;
    margin-bottom: 1rem 0;
}

h6 {
    text-align: center;
}

.ms_gray_text {
    color: #898989;
    font-size: 1.5rem;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    font-family: Helvetica, arial, sans-serif;
}

.ms_top_footer {
    background-color: black;
    padding: 0.5rem;
    text-align: right;
}

.ms_top_footer img {
    height: 14px;
}

.ms_bottom_footer {
    background-color: white;
    padding: 0.5rem 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.ms_bottom_footer a {
    color: black;
}

.ms_right_menu {
    display: none;
    justify-self: flex-end;
} 

.ms_left_menu {
    display: none;
}

.ms_header_icon {
    width: 14px;
}

.ms_search_icon {
    width: 20px;
}

.btn_black {
    color: #fff;
    background-color: #363636;
    border-color: #363636;
    padding: 0 0.5rem;
}

.nav-link {
    padding: 0 0.5rem;
}

/* MAIN */

main {
    margin-top: 105px;
}

/* RETURNAL BANNER SECTION */

.ms_game_banner {
    height: 600px;
}

.ms_first_banner {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: top;
    padding-top: 18rem;
}

.ms_game_banner_content img {
    width: 50%;
}

.ms_game_banner_text {
    margin-top: 2rem;
}

.btn_red {
    color: #fff;
    background-color: #cd3c10;
    border-color: #cd3c10;
}

/* EXCLUSIVE GAMES SECTION */

.exclusive_games_card img {
    margin: 1rem;
    border-radius: 20px;
}

/* PLAYSTATION FIVE SECTION */

.ms_ps_intro {
    text-align: center;
    margin-top: 4rem;
}

.ms_special_text {
    text-transform: uppercase;
    color: #197cd0;
}

.ms_vertical_center {
    align-self: center;
}

.ms_accessories {
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
}

.ms_accessories img {
    width: 200px;
}

.ms_accessories h6 {
    display: none;
}

.ms_border_image {
    border-bottom: 3px solid #197cd0;
}

.ms_opacity {
    filter: opacity(0.5);
}

/* IT TAKES TWO SECTION */

.ms_second_banner {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 3rem;
}

/* NEW GAMES SECTION */

.ms_gray_bg {
    background-color: #1f1f1f;
}

.new_games_card img {
    margin: 1rem 0;
    border-radius: 10px;
}

/* PLAYSTATION FOUR SECTION */

.fa-registered {
    font-size: 0.8rem;
    vertical-align: super;
}

.ms_ps_product {
    margin: 1.5rem 0;
}


/*********
RESPONSIVE
*********/

/* TABLET VERSION */

@media all and (min-width: 768px) {

    .ms_accessories {
        justify-content: space-around;
    }
    
    .ms_accessories h6 {
        display: block;
    }
}


/* DESKTOP VERSION */

@media all and (min-width: 992px) {

    /* HEADER */

    .ms_menu_icon {
        display: none;
    }

    .ms_right_menu {
        display: block;
    }

    .ms_left_menu {
        display: inline-block;
    }

    /* MAIN */

    /* RETURNAL BANNER */

    .ms_first_banner .ms_game_banner_content {
        width: 340px;
    }

    /* IT TAKES TWO BANNER */
    .ms_second_banner .ms_game_banner_content {
        width: 450px;
    }
}