/* DEBUG */
body {
    background-color: bisque;
}

.ms_white_section {
    background-color: white;
}

/* COMMON */

body {
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
}

.ms_dark_section {
    color: white;
}

.ms_large_container {
    width: 95%;
    margin: 0 auto;
}

.btn {
    border-radius: 20px;
}

.btn:hover {
    color: #fff;
}

h3 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    font-family: Helvetica, arial, sans-serif;
}

.ms_top_footer {
    background-color: black;
    padding: 0.5rem;
    text-align: right;
}

.ms_top_footer img {
    height: 14px;
}

.ms_bottom_footer {
    background-color: white;
    padding: 0 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.ms_bottom_footer a {
    color: black;
}

.ms_right_menu {
    display: none;
    justify-self: flex-end;
} 

.ms_left_menu {
    display: none;
}

.ms_header_icon {
    width: 14px;
}

.ms_search_icon {
    width: 20px;
}

.btn_black {
    color: #fff;
    background-color: #363636;
    border-color: #363636;
    padding: 0 0.5rem;
}

.nav-link {
    padding: 0 0.5rem;
}

/* MAIN */

main {
    margin-top: 90px;
}

/* RETURNAL BANNER SECTION */

.ms_game_banner {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: top;
    display: flex;
    height: 520px;
    padding-top: 13rem;
}

.ms_game_banner_content img {
    width: 50%;
}

.ms_game_banner_text {
    margin-top: 2rem;
}

.btn_red {
    color: #fff;
    background-color: #cd3c10;
    border-color: #cd3c10;
}

/* EXCLUSIVE GAMES SECTION */

.exclusive_games_card img {
    margin: 1rem 0;
    border-radius: 20px;
}


/*********
RESPONSIVE
*********/


/* DESKTOP VERSION */

@media all and (min-width: 992px) {

    /* HEADER */

    .ms_menu_icon {
        display: none;
    }

    .ms_right_menu {
        display: block;
    }

    .ms_left_menu {
        display: inline-block;
    }

    /* MAIN */

    /* JUMBROTRON */

    .ms_game_banner_content {
        width: 320px;
    }
    
}